//
// Scaffolding
// --------------------------------------------------


// Body reset
// -------------------------

body {
  margin: 0;
  font-family: @baseFontFamily;
  font-size: @baseFontSize;
  line-height: @baseLineHeight;
  color: @textColor;
  background-color: @bodyBackground;
  padding:60px 0 40px 0;
}


// Links
// -------------------------

a {
  color: @linkColor;
  text-decoration: none;
}
a:hover {
  color: @linkColorHover;
  text-decoration: underline;
}


//
// Layouts
// --------------------------------------------------


// Container (centered, fixed-width layouts)
.container {
  .container-fixed();
}

// Fluid layouts (left aligned, with sidebar, min- & max-width content)
.container-fluid {
  padding-right: @gridGutterWidth;
  padding-left: @gridGutterWidth;
  .clearfix();
}

//
// Archive pages
//
article.summary {
	border-bottom:1px solid lighten(@bodyBackground, 10%);
	clear:both;
	.clearfix();
	.entry-header {
		width:50%;
		float:left;
	}
	.entry-summary {
		clear:left;
	}
	.featured-image {
		width:40%;
		float:right;
		margin:0 0 1em 1em;
	}
}

//
// Comic pages
// --------------------------------------------------

.comic-frame-linear {
    width:100%;
    overflow:auto;
    .frames {
	    img {
	    }
    }
}

.comic-frame-pages {
    width:100%;
    .frames {
	    img {
	    	max-width:100%;
	    	height:auto;
	    	position:absolute;
	    }
    }
}

//
// Grid system
// --------------------------------------------------


// Fixed (940px)
#grid > .core(@gridColumnWidth, @gridGutterWidth);

// Fluid (940px)
#grid > .fluid(@fluidGridColumnWidth, @fluidGridGutterWidth);

// Reset utility classes due to specificity
[class*="span"].hide,
.row-fluid [class*="span"].hide {
  display: none;
}

[class*="span"].pull-right,
.row-fluid [class*="span"].pull-right {
  float: right;
}
